body {
    background-color: #fff;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .login-form {
    /*background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);*/

    font-size: large;
    text-align: center;
    text-decoration: wavy;
    background-color: #fff;
    padding: 60px 90px;
    /*border: 8px solid goldenrod;*/
    border-radius: 30%;
    box-shadow: 15px 15px goldenrod;
    height: 400px;
    width: 1000px;


  }
  
  .login-form h2 {
    /*font-size: 1.5em;
    margin-bottom: 15px;*/

    text-align: center;
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
        color: #013A51;
        text-shadow: 2px 2px goldenrod;
        position: fixed;
        top: 8%;
        left: 40%;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input {
    /*width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;*/

    background-color: #013A51;
    width: 40%;
    padding: 20px 32px;
    margin: 8px 0;
    border: 5px solid #013A51;
    border-radius: 50px;
    box-sizing: border-box;
    font-style: oblique;
    text-align: center;
    box-shadow: 4px 4px goldenrod;
    margin-bottom: 15px;
    color: #fff;
  }
  
  .login-form button {
    /*background-color: #013A51;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;*/

    background-color: #fff;
    color: #013A51;
    padding: 10px 20px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 25px;
    margin: 6px 4px;
    cursor: pointer;
    border: 4px solid #013A51;
    border-radius: 40%;
    box-shadow: 4px 4px goldenrod;
  }
  
  .login-form button:hover {
    background-color: grey;
    color: black;
  }
  
  .login-form p {
    text-align: center;
    margin-top: 10px;
  }
  
  .login-form a {
    color: #007bff;
    text-decoration: none;
  }
  
  .login-form a:hover {
    color: #005ca3;
  }

  h5 {
    text-align: center;
    position: fixed;
    left: 43%;
    top: 90%;
    color: #013A51;
  }

  img {
    position: fixed;
        top: 5%;
        left: 5%;
        width: 150px;
        height: 80px;
  }